<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    </head>
    <body>
        <div style="display:flex; flex-direction:column; justify-content: space-around; align-items:stretch; align-content:space-around; padding:10px">
            <div style="display:flex; padding:10px; flex-direction:column; justify-content: space-evenly; align-items:stretch">
                <h1 style="flex-grow:146; text-align:center;border: 1px solid; padding:30px; font-family: Poppins, sans-serif;">
                    H T Mlow

                </h1>
            </div>
            <div style="display:flex; flex-grow:419; flex-direction:row; justify-content: space-evenly; align-items:stretch; align-content:space-around">
                <div style="display:flex; flex-grow:547; flex-direction:column; justify-content: space-evenly; align-items:stretch; align-content:space-around">
                    <div style="display:flex; flex-grow:165; flex-direction:row; justify-content: space-evenly; align-items:stretch; align-content:space-around">
                        <div style="display:flex; padding:10px; flex-direction:column; justify-content: space-evenly; align-items:stretch">
                            <button style="flex-grow:225; text-align:center;border: 1px solid; padding:30px; font-family: Poppins, sans-serif;">
                                Github

                            </button>
                        </div>
                        <div style="display:flex; padding:10px; flex-direction:column; justify-content: space-evenly; align-items:stretch">
                            <button style="flex-grow:246; text-align:center;border: 1px solid; padding:30px; font-family: Poppins, sans-serif;">
                                You Tu be.

                            </button>
                        </div>
                    </div>
                    <div style="display:flex; padding:10px; flex-direction:column; justify-content: space-evenly; align-items:stretch">
                        <div style="flex-grow:221; text-align:center;border: 1px solid; padding:30px; font-family: Poppins, sans-serif;">
                            Use our website to Creste
Fast HTML Templates |

                        </div>
                    </div>
                </div>
                <div style="display:flex; padding:10px; flex-direction:column; justify-content: space-evenly; align-items:stretch">
                    <div style="flex-grow:263; text-align:center;border: 1px solid; padding:30px; font-family: Poppins, sans-serif;">
                        M

, ade b

Dek

tise k

Samy,
on

                    </div>
                </div>
            </div>
            <div style="display:flex; padding:10px; flex-direction:column; justify-content: space-evenly; align-items:stretch">
                <button style="flex-grow:27; text-align:center;border: 1px solid; padding:30px; font-family: Poppins, sans-serif;">
                    
                </button>
            </div>
        </div>
    </body>
</html>